:root{
	--turquoise-dark: #397e7d;
	--turquoise-light: #44af9d;	
	--mint-normal: #87c6ac;
	--mint-light: #a6cec0;
	--salmon-normal: #d39280;
	--gold-dark: #b28a4b;
	--gold-light: #e1dcd3;
}

*{
	color: var(--turquoise-dark);
}

body{
	background-color: var(--turquoise-dark);
}

h3{
	color: var(--turquoise-dark);
}

#div-container{
	background-color: var(--gold-light);
	min-width: 500px; 
	min-height: 700px;
	max-width: 500px; 
	max-height: 700px;
	margin: auto;
	margin-top: 10%;
	box-shadow: 5px 5px 0px var(--turquoise-light);
	padding: 20px;
}

form{
	display: flex;
	flex-direction: column;
}

button, input{
	padding: 5px 10px;
	margin-top: 10px;
}

button{
	background-color: var(--gold-dark);
	color: #fff;
	cursor: pointer;
}


