{% load static %}
<html>
	<head>
		<title>Admin</title>
		<link rel='stylesheet' href='{% static "login.css" %}' />
	</head>
	<body>
		<form style="display:inline-block" method="post" action="{% url "cashback:logout_user" %}">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{user.username}}" />
			<input type="hidden" name="password" value="{{user.password}}" />
			<button>Salir</button>
		</form>
		<div id='div-container'>
			<form method='post' action='http://api.qrserver.com/v1/read-qr-code' enctype="multipart/form-data">
				{% csrf_token %}
				<h3>Cash back!</h3>	
				<label>Usuario: {{user.username}}</label><br>
				<input type="hidden" name="MAX_FILE_SIZE" value="1048576">
				Choose QR code image to read/scan: <input type="file" name="file">
				<label>Monto:</label>
				<input type='number' id='inp-monto' />
				<button>Agregar</button>
			</form>	
		</div>
		<script src="{% static 'qr_read.js' %}"></script>
		<script>
		</script>
	</body>
</html>
