{% load static %}
<html>
	<head>
		<title>Login</title>
		<link rel='stylesheet' href='{% static "login.css" %}' />
	</head>
	<body>
		<form style="display:inline-block" method="post" action="{% url "cashback:logout_user" %}">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{user.username}}" />
			<input type="hidden" name="password" value="{{user.password}}" />
			<button>Salir</button>
		</form>
		<div id='div-container'>
			<form method='post' action='#'>
				<h3>Cash back!</h3>	
				<label>Usuario:</label>
				<button>Presionar para escanear código del usuario</button>
				<label>Monto:</label>
				<input type='number' id='inp-monto' />
				<button>Agregar</button>
			</form>	
		</div>
	</body>
</html>
