{% load static %}
<html>
	<head>
		<title>Admin</title>
		<link rel='stylesheet' href='{% static "admin.css" %}' />
	</head>
	<body>
		<form style="display:inline-block" method="post" action="{% url "cashback:logout_user" %}">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{user.username}}" />
			<input type="hidden" name="password" value="{{user.password}}" />
			<button>Salir</button>
		</form>
		<div id='div-container'>
			<form method='post' action='#' id="cashback-form">
				{% csrf_token %}
				<h1>Cash back!</h1>
				<h3>Agregar o remover monto</h3>	
				<label>Usuario: {{user.username}}</label><br>

				<video id="scanner-frame"></video>
				<div id="scanner-overlay"></div>
				<p id="scanner-message"></p>

				<label>Monto:</label>
				<input type="hidden" id="user_hash" name="user_hash" value="" />
				<input type='number' id='inp-monto' name="amount" />
				<button id="add-btn">Agregar</button>
				<button id="remove-btn">Remover</button>
			</form>	

		</div>
		<script src="{% static 'admin_qr.js' %}" type="module"></script>
		<script>
		</script>
	</body>
</html>
