{% load static %}
<html>
	<head>
		<title>Login</title>
		<link rel='stylesheet' href='{% static "user.css" %}' />
	</head>
	<body>
		<!--user data-->
		<input type="hidden" id="user_hash" value="{{user.user_hash}}" />
		<form method="post" action="{% url "cashback:logout_user" %}">
			{% csrf_token %}
			<input type="hidden" name="username" value="{{user.username}}" />
			<input type="hidden" name="password" value="{{user.password}}" />
			<button>Salir</button>
		</form>
		<div id='div-container'>
			<h2>User: {{user.username}}</h2>
			<img alt='QR' id='qr_img' />
			<div id='div-details'>
				<h3>Saldo: 12.5$</h3>
				<h3>Últimas compras:</h3>
				<div id='div-last-purchases'>
					<div class='div-purchase'>
						<p class='p-purchase-date-time'>20/04/2024 - 8:30 AM</p>
						<p class='p-purchase-amount'>-10$</p>
						<p class='p-purchase-return'>+1$</p>
					</div>
					<div class='div-purchase'>
						<p class='p-purchase-date-time'>20/04/2024 - 8:30 AM</p>
						<p class='p-purchase-amount'>-23.4$</p>
						<p class='p-purchase-return'>+2.34$</p>
					</div>
					<div class='div-purchase'>
						<p class='p-purchase-date-time'>20/04/2024 - 8:30 AM</p>
						<p class='p-purchase-amount'>-34.4$</p>
						<p class='p-purchase-return'>+3.44$</p>
					</div>
					<div class='div-purchase'>
						<p class='p-purchase-date-time'>20/04/2024 - 8:30 AM</p>
						<p class='p-purchase-amount'>-5.3$</p>
						<p class='p-purchase-return'>+0.53$</p>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static "qr_show.js" %}"></script>
	</body>
</html>
